<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<connectionStrings>
		<!--<add name="DBCONNECTION" connectionString="Data Source=125.20.158.150;Initial Catalog=AQUAQA_NEW;User ID=team;Password=admin@123;MultipleActiveResultSets=True; connect timeout=0; pooling=true;"/>-->
		<add name="DBCONNECTION" connectionString="Data Source=192.168.0.174;Initial Catalog=AQUAQAL;User ID=sa;Password=team@123;MultipleActiveResultSets=True; connect timeout=0; pooling=true;"/>
	</connectionStrings>
	<appSettings>
		<add key="ErrorLevel" value="0"/>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
		<add key="UserDefinedCookiePathFilter" value="abdaquaqa.net.itc"/>
	</appSettings>
	<!--  For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.
        The following attributes can be set on the <httpRuntime> tag.
        <system.Web>
        <httpRuntime targetFramework="4.8" />
        </system.Web>  -->
	<system.web>
		<compilation debug="true" targetFramework="4.8"/>
		<httpRuntime targetFramework="4.5.2"/>
	</system.web>
	<system.webServer>
	<defaultDocument>
		<files>
			<add value="Login.aspx" />
		</files>
	</defaultDocument>
	</system.webServer>
</configuration>

